body{
    background:#fffff0;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    margin: 0;
    position: relative;
}


.menu{
    width:60px; 
    height:40px; 
    top: 30px; 
    right:30px; 
    position:fixed; 
    z-index:9999; 
    transition: 0.5s ;
}
.menu:hover{
    opacity: 0.5;
}

.menu1{
    top:0px; 
} 
.menu2{
    top:20px; 
} 
.menu3{
    top:40px; 
}


.menu1,.menu2,.menu3{  
    position:absolute; 
    width:60px; 
    height:5px;      
    background-color: #71a0a5;
    border-radius: 2.5px;
    filter: drop-shadow(0 0 2px #4e4e4e);    
    -webkit-transition: all 0.5s ease-out;
}

.menuscroll1,.menuscroll2,.menuscroll3{
    background-color: #fffff0;
}

.menuscroll4,.menuscroll5,.menuscroll6{
    background-color: #71a0a5;
}

.menuclick1{ 
    top:15px; 
    -webkit-transform: rotate(225deg);
    background-color: #fffff0;
}
.menuclick2{ 
    background-color:rgba(255,255,255,0);  
}
.menuclick3{ 
    top:15px; 
   -webkit-transform: rotate(-225deg);
   background-color: #fffff0;
}

.menu-box{
    text-align: right;
    width: 100%; 
    height: 124px; 
    position: fixed;
    right:1%;
}


.menu-block{
    background-image: url("../images/menu.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right top;
    filter: drop-shadow(0 0 5px #4e4e4e);
    position: fixed;
    top: 0;
    right: 0;
    color: #71a0a5;
    height: 100vh;
    width: 100vw;
    z-index: 999;
    display: none;
}

.menu-background1{
    background-image: url("../images/menu.png");
}
.menu-background2{
    background-image: url("../images/menu2.png");
}

.menu-block ul{
    padding: 60px;
    list-style: none;
}
.menu-block ul li{
    line-height: 180%;
}

.menu-block ul li a{
    color: #fffff0; 
    font-size: 56px; 
    line-height: 200%;
} 

a:-webkit-any-link {
    text-decoration:none;
    transition: 0.5s ;
  } 
a:hover{
    opacity: 0.5;
}






.layer1{
    filter: drop-shadow(0 0 4px #4e4e4e);
}

.layer2{
    position: fixed;
    top: 100vh;
    filter: drop-shadow(0 0 4px #4e4e4e);
}

.move{
    position:static;
}


.title{
    font-family: guapa, sans-serif;
    font-style: normal;
    font-weight: bold;
}



.home{
    width: 100vw;
    height: 100vh;
    margin: 0;
    position: relative;
    top: 0;
    left: 0;

}

.portfolio{
    width: 50vw;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.st0{
    fill:none;
    stroke:#6F9A9F;
    stroke-width:11;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    stroke-dasharray:  4000; /* 破線の間隔 */
    stroke-dashoffset: 4000; /* 破線の開始位置 */
    animation: DASH 6s ease-in-out alternate 0s forwards; /* アニメーション */
}

.st1{
    fill:none;
    stroke:#6F9A9F;
    stroke-width:11;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    stroke-dasharray:  4000;
    stroke-dashoffset: 4000;
    animation: DASH 6s ease-in-out alternate 0s forwards;
    animation-delay: 0.3s;
}

.st2{
    fill:none;
    stroke:#6F9A9F;
    stroke-width:11;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    stroke-dasharray:  4000;
    stroke-dashoffset: 4000;
    animation: DASH 6s ease-in-out alternate 0s forwards;
    animation-delay: 0.6s;
}
.st3{
    fill:none;
    stroke:#6F9A9F;
    stroke-width:11;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    stroke-dasharray:  4000;
    stroke-dashoffset: 4000;
    animation: DASH 6s ease-in-out alternate 0s forwards;
    animation-delay: 0.9s;
}
.st4{
    fill:none;
    stroke:#6F9A9F;
    stroke-width:11;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    stroke-dasharray:  4000;
    stroke-dashoffset: 4000;
    animation: DASH 6s ease-in-out alternate 0s forwards;
    animation-delay: 1.2s;
}
.st5{
    fill:none;
    stroke:#6F9A9F;
    stroke-width:11;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    stroke-dasharray:  4000;
    stroke-dashoffset: 4000;
    animation: DASH 6s ease-in-out alternate 0s forwards;
    animation-delay: 1.5s;
}
.st6{
    fill:none;
    stroke:#6F9A9F;
    stroke-width:11;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    stroke-dasharray:  4000;
    stroke-dashoffset: 4000;
    animation: DASH 6s ease-in-out alternate 0s forwards;
    animation-delay: 1.8s;
}
.st7{
    fill:none;
    stroke:#6F9A9F;
    stroke-width:11;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    stroke-dasharray:  4000;
    stroke-dashoffset: 4000;
    animation: DASH 6s ease-in-out alternate 0s forwards;
    animation-delay: 2.1s;
}
.st8{
    fill:none;
    stroke:#6F9A9F;
    stroke-width:11;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    stroke-dasharray:  4000;
    stroke-dashoffset: 4000;
    animation: DASH 6s ease-in-out alternate 0s forwards;
    animation-delay: 2.4s;

}
.st9{
    fill:none;
    stroke:#6F9A9F;
    stroke-width:11;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-miterlimit:10;
    stroke-dasharray:  4000;
    stroke-dashoffset: 4000;
    animation: DASH 6s ease-in-out alternate 0s forwards;
    animation-delay: 2.7s;

}

@keyframes DASH {
    0% {
        stroke-dashoffset: 4000;
        }
    100% {
        stroke-dashoffset: 0;
        }
}

.page-title{
    color: #71a0a5;
    font-size: 200px;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.page-subtitle{
    color: #71a0a5;
    font-size: 80px;
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    opacity: 0;
    transform: translateY(-50%) translateX(-50%);
    animation: subtitle 1s forwards;
    animation-delay: 3.5s;
}
@keyframes subtitle {
    100% {
      opacity: 1;
    }
  }


.flying-butterfly1{
    position: absolute;
    top: 60vh;
    left:25vw;
    opacity: 0;
    filter: drop-shadow(0 0 3px #4e4e4e);
    z-index:99; 
    animation:flying1 50s infinite;
    animation-delay: 8s;
}
.flying-butterfly1:hover{
    animation-play-state: paused;
    cursor: grab;
}

.flying-butterfly2{
    position: absolute;
    top: 25vh;
    left:95vw;
    opacity: 0;
    filter: drop-shadow(0 0 3px #4e4e4e);
    z-index:99; 
    animation:flying2 50s infinite;
    animation-delay: 11s;
}
.flying-butterfly2:hover{
    animation-play-state: paused;
    cursor: grab;
}

.flying-butterfly3{
    position: absolute;
    top: 60vh;
    left:25vw;
    opacity: 0;
    filter: drop-shadow(0 0 3px #4e4e4e);
    z-index:99; 
    animation:flying3 50s infinite;
    animation-delay: 23s;
}
.flying-butterfly3:hover{
    animation-play-state: paused;
    cursor: grab;
}

.flying-butterfly4{
    position: absolute;
    top: 25vh;
    left:95vw;
    opacity: 0;
    filter: drop-shadow(0 0 3px #4e4e4e);
    z-index:99; 
    animation:flying4 50s infinite;
    animation-delay: 25s;
}
.flying-butterfly4:hover{
    animation-play-state: paused;
    cursor: grab;
}

@keyframes flying1{
    0%{
        top: 60vh;
        left:25vw;
    }
    5%{
        opacity: 1;
    }
    9%{
        top: 35vh;
        left:10vw;
        transform: rotate(-30deg);
    }
    21%{
        top:65vh;
        left:15vw;
        transform: rotate(30deg);
    }
    29%{
        top: 47vh;
        left:32vw;
        transform: rotate(30deg);
    }
    41%{
        top: 90vh;
        left:45vw;
        transform: rotate(-30deg);
    }
    52%{
        top: 70vh;
        left:60vw;
        transform: rotate(30deg);
    }
    59%{
        top: 85vh;
        left:65vw;
        transform: rotate(-30deg);
    }
    68%{
        top: 70vh;
        left:40vw;
        transform: rotate(30deg);
    }
    80%{
        top: 90vh;
        left:45vw;
        transform: rotate(-30deg);
    }
    92%{
        top: 80vh;
        left:55vw;
        transform: rotate(30deg);
    }
    95%{
        opacity: 1;
    }
    100%{
        top: 102vh;
        left:50vw;
        opacity: 0;
        transform: rotate(30deg);
    }
}
@keyframes flying2{
    0%{
        top: 25vh;
        left:95vw;
        
    }
    5%{
        opacity: 1;
    }
    11%{
        top: 20vh;
        left:85vw;
        transform: rotate(30deg);
    }
    22%{
        top: 60vh;
        left:80vw;
        transform: rotate(30deg);
    }
    29%{
        top: 50vh;
        left:75vw;
        transform: rotate(-30deg);
    }
    38%{
        top: 80vh;
        left:60vw;
        transform: rotate(-30deg);
    }
    51%{
        top: 60vh;
        left:40vw;
        transform: rotate(30deg);
    }
    59%{
        top: 90vh;
        left:35vw;
        transform: rotate(30deg);
    }
    71%{
        top: 80vh;
        left:50vw;
        transform: rotate(-30deg);
    }
    82%{
        top: 85vh;
        left:55vw;
        transform: rotate(-30deg);
    }
    90%{
        top: 75vh;
        left:45vw;transform: rotate(30deg);
    }
    95%{
        opacity: 1;
    }
    100%{
        top: 102vh;
        left:45vw;
        opacity: 0;
        transform: rotate(30deg);
    }
}
@keyframes flying3{
    0%{
        top: 60vh;
        left:25vw;
    }
    5%{
        opacity: 1;
    }
    12%{
        top: 35vh;
        left:10vw;
        transform: rotate(-30deg);
    }
    21%{
        top:65vh;
        left:15vw;
        transform: rotate(30deg);
    }
    29%{
        top: 47vh;
        left:32vw;
        transform: rotate(30deg);
    }
    41%{
        top: 90vh;
        left:45vw;
        transform: rotate(-30deg);
    }
    49%{
        top: 70vh;
        left:60vw;
        transform: rotate(30deg);
    }
    61%{
        top: 85vh;
        left:65vw;
        transform: rotate(-30deg);
    }
    72%{
        top: 70vh;
        left:40vw;
        transform: rotate(30deg);
    }
    79%{
        top: 90vh;
        left:45vw;
        transform: rotate(-30deg);
    }
    88%{
        top: 80vh;
        left:55vw;
        transform: rotate(30deg);
    }
    95%{
        opacity: 1;
    }
    100%{
        top: 102vh;
        left:50vw;
        opacity: 0;
        transform: rotate(30deg);
    }
}
@keyframes flying4{
    0%{
        top: 25vh;
        left:95vw;
    }
    5%{
        opacity: 1;
    }
    9%{
        top: 20vh;
        left:85vw;
    }
    21%{
        top: 60vh;
        left:80vw;
        transform: rotate(30deg);
    }
    29%{
        top: 50vh;
        left:75vw;
    }
    41%{
        top: 80vh;
        left:60vw;
        transform: rotate(-30deg);
    }
    51%{
        top: 60vh;
        left:40vw;
    }
    59%{
        top: 90vh;
        left:35vw;
        transform: rotate(30deg);
    }
    71%{
        top: 80vh;
        left:50vw;
    }
    79%{
        top: 85vh;
        left:55vw;
        transform: rotate(-30deg);
    }
    92%{
        top: 75vh;
        left:45vw;
    }
    95%{
        opacity: 1;
    }
    100%{
        top: 102vh;
        left:45vw;
        opacity: 0;
        transform: rotate(30deg);
    }
}


.about{
    background: #71a0a5;
    width: 100vw; 
    /* height: 200vh; */
    color: #fffff0;
    margin: 0;
    padding-bottom:10%
}

.pansy{
    width: 100%;
    position: absolute;
    bottom: 99.9%;
}

.about-title{
    font-size: 100px;
    margin: 0;
    padding: 4%;
    text-align: center;
}

.profile{
    padding-bottom:5%;
}

.profile-title{
    font-size: 60px;
    margin: 0;
    text-align: center;
    padding: 1%;
}

.my-profile{
    width: 70%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
}

.icon{
    width: 20%;
    margin: auto;
    text-align: center;
}

.photo{
    width: 100%;
    filter: drop-shadow(0 0 3px #4e4e4e);
}

.text{
    margin: auto;
}

.name{
    font-size:30px;
}

.description{
    font-size:20px;
}



.skill{
    margin: 0;
    padding-bottom: 5%;
}

.skill-title{
    font-size: 60px;
    margin: 0;
    text-align: center;
    padding: 1%;
}

.my-skill{
    width: 80%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    font-size:20px;
}
.left{
    width: 40%;
    margin: auto;
    margin-top:0;
}
.right{
    width: 40%;
    margin: auto;
}

.inner{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    margin:auto;
}
.skill-name{
    width: 30%;
    left: 0;
    margin: auto;
    text-align: left;
    padding: 3% 0;
}

.skill-rate{
    width: 60%;
    margin: auto;
    padding: 3%;
    position: relative;
}


.skill-rate:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #fffff0;
    box-shadow: 2vw 0 0 #fffff0, 
                4vw 0 0 #fffff0, 
                6vw 0 0 #fffff0, 
                8vw 0 0 #fffff0, 
                10vw 0 0 #fffff0, 
                12vw 0 0 #fffff0, 
                14vw 0 0 #fffff0, 
                16vw 0 0 #fffff0, 
                18vw 0 0 #fffff0;
}

.language{
    width:100%;
    margin:0;
    list-style: none;
    padding-left: 0;
}

.html-rate{
    max-width:14vw;
}
.css-rate{
    max-width:14vw;
}
.js-rate{
    max-width:12vw;
}
.rails-rate{
    max-width:8vw;
}
.java-rate{
    max-width:10vw;
}
.processing-rate{
    max-width:6vw;
}
.unity-rate{
    max-width:4vw;
}

.html-butterfly{
    left:13vw;
}
.css-butterfly{
    left:13vw;
}
.js-butterfly{
    left:11vw;
}
.rails-butterfly{
    left:7vw;
}
.java-butterfly{
    left:9vw;
}
.processing-butterfly{
    left:5vw;
}
.unity-butterfly{
    left:3vw;
}

.html-butterfly-anime{
    animation: html-butterfly-animation 6s;
}
@keyframes html-butterfly-animation{
    0%{
        left:0;
    }
    10%{
        top: 10%;
    }
    30%{
        top:60%;
    }
    50%{
        top:20%;
    }
    72%{
        left:13vw;
    }
}
.css-butterfly-anime{
    animation: css-butterfly-animation 6s;
}
@keyframes css-butterfly-animation{
    0%{
        left:0;
    }
    10%{
        top: 50%;
    }
    30%{
        top:20%;
    }
    50%{
        top:70%;
    }
    72%{
        left:13vw;
    }
}
.js-butterfly-anime{
    animation: js-butterfly-animation 6s;
}
@keyframes js-butterfly-animation{
    0%{
        left:0;
    }
    10%{
        top: 20%;
    }
    30%{
        top:50%;
    }
    40%{
        top:10%;
    }
    65%{
        left:11vw;
    }
}
.rails-butterfly-anime{
    animation: rails-butterfly-animation 6s;
}
@keyframes rails-butterfly-animation{
    0%{
        left:0;
    }
    10%{
        top: 10%;
    }
    20%{
        top:50%;
    }
    30%{
        top:10%;
    }
    50%{
        left:7vw;
    }
}
.java-butterfly-anime{
    animation: java-butterfly-animation 6s;
}
@keyframes java-butterfly-animation{
    0%{
        left:0;
    }
    10%{
        top: 15%;
    }
    30%{
        top:40%;
    }
    50%{
        top:10%;
    }
    60%{
        left:9vw;
    }
}
.processing-butterfly-anime{
    animation: processing-butterfly-animation 6s;
}
@keyframes processing-butterfly-animation{
    0%{
        left:0;
    }
    10%{
        top: 40%;
    }
    15%{
        top:20%;
    }
    30%{
        top:50%;
    }
    40%{
        left:5vw;
    }
}
.unity-butterfly-anime{
    animation: unity-butterfly-animation 6s;
}
@keyframes unity-butterfly-animation{
    0%{
        left:0;
    }
    5%{
        top: 20%;
    }
    10%{
        top:40%;
    }
    20%{
        top:20%;
    }
    30%{
        left:3vw;
    }
}




.tool{
    width:100%;
    margin:0;
    list-style: none;
    padding-left: 0;
}

.ai-rate{
    max-width:14vw;
}
.ps-rate{
    max-width:12vw;
}
.csp-rate{
    max-width:14vw;
}

.ai-butterfly{
    left:13vw;
}
.ps-butterfly{
    left:11vw;
}
.csp-butterfly{
    left:13vw;
}

.ai-butterfly-anime{
    animation: ai-butterfly-animation 6s;
}
@keyframes ai-butterfly-animation{
    0%{
        left:0;
    }
    10%{
        top: 30%;
    }
    20%{
        top:60%;
    }
    40%{
        top:10%;
    }
    72%{
        left:13vw;
    }
}
.ps-butterfly-anime{
    animation: ps-butterfly-animation 6s;
}
@keyframes ps-butterfly-animation{
    0%{
        left:0;
    }
    20%{
        top: 40%;
    }
    30%{
        top:20%;
    }
    40%{
        top:50%;
    }
    65%{
        left:11vw;
    }
}
.csp-butterfly-anime{
    animation: csp-butterfly-animation 6s;
}
@keyframes csp-butterfly-animation{
    0%{
        left:0;
    }
    10%{
        top: 20%;
    }
    20%{
        top:50%;
    }
    30%{
        top:20%;
    }
    72%{
        left:13vw;
    }
}


.others{
    width:100%;
    margin:0;
    list-style: none;
    padding-left: 0;
}

.maya-rate{
    max-width:8vw;
}
.ae-rate{
    max-width:10vw;
}
.arduino-rate{
    max-width:12vw;
}

.maya-butterfly{
    left:7vw;
}
.ae-butterfly{
    left:9vw;
}
.arduino-butterfly{
    left:11vw;
}
.maya-butterfly-anime{
    animation: maya-butterfly-animation 6s;
}
@keyframes maya-butterfly-animation{
    0%{
        left:0;
    }
    10%{
        top: 50%;
    }
    20%{
        top:20%;
    }
    40%{
        top:40%;
    }
    50%{
        left:7vw;
    }
}
.ae-butterfly-anime{
    animation: ae-butterfly-animation 6s;
}
@keyframes ae-butterfly-animation{
    0%{
        left:0;
    }
    10%{
        top: 10%;
    }
    30%{
        top:60%;
    }
    50%{
        top:20%;
    }
    60%{
        left:9vw;
    }
}
.arduino-butterfly-anime{
    animation: arduino-butterfly-animation 6s;
}
@keyframes arduino-butterfly-animation{
    0%{
        left:0;
    }
    10%{
        top: 30%;
    }
    20%{
        top:70%;
    }
    50%{
        top:40%;
    }
    65%{
        left:11vw;
    }
}


.rate{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    border-top:solid 5px #fffff0;
}

.rate-anime{
    animation: bar-animation 1 6s;
    /* animation: butterfly-animation 1 5s; */
}

@keyframes bar-animation{
    0%{
      width: 0px;
    }
    100%{
      width: 100%;
    }
}

.butterfly{
    position: absolute;
    top: 40%;
    transform: translate(0, -50%);
    filter: drop-shadow(0 0 3px #4e4e4e);
}



.work{
    background:#acc6aa;
    width: 100vw; 
    position: relative;
    color: #fffff0;
    margin: 0;
    padding-bottom: 8%;
}

.viola{
    width: 100%;
    position: absolute;
    bottom: 99.9%;
}

.work-title{
    font-size: 100px;
    margin: 0;
    padding: 4%;
    text-align: center;
}

.work-box{
    width: 60%;
    margin: 3% auto;
    display: flex;
    flex-wrap: wrap;
}

.works{
    width: 25vw;
    margin: 1% auto;
    filter: drop-shadow(0 0 4px #4e4e4e);
    
    position: relative;
}


.works img{
    width:100%;
}

.works p{
    margin:0;
    width:100%;
    /* height:100%; */
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 24px;
    color: #fffff0;
    text-decoration:none;
    /* display: none; */
    opacity: 0;
}

.works:hover img{
    filter: saturate(70%) brightness(50%) ;
}

.works:hover p{
    /* display: inline; */
    opacity: 1.0;
}




